<div id="<%= dom_id friend %>" class="container" >
  <table class="table table-striped table-bordered table-dark" >

      <td>
        <strong>First name:</strong>
        <%= friend.first_name  %>
      </td>

      <td>
        <strong>Last name:</strong>
        <%= friend.last_name %>
      </td>

      <td>
        <strong>Email:</strong>
        <%= friend.email %>
      </td>

      <td>
        <strong>Phone:</strong>
        <%= friend.phone %>
      </td>

      <td>
        <strong>Twitter:</strong>
        <%= friend.twitter %>
      </td>
  </table>
</div>
