<p style="color: green"><%= notice %></p>

<%= render @friend, class:"jumbotron" %>

<div>
  <%= link_to "Edit Friend", edit_friend_path(@friend), class:"btn btn-secondary" %>
  <%= link_to "Friend List", friends_path, class:"btn btn-secondary" %>
  <%= button_to "Remove friend", @friend, method: :delete, class:"btn btn-dark float-right" %>
</div>
